ul.chat{
    list-style: none;
    padding-left: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}

.navbar-brand img {
    height: 40px;
}

.form-control {
    background-color: #ddd;
}

.btnvolume {
    padding: 6px 6px 2.3em;
}

#infomessages {
  font-size: 1.2em;
  position: relative;
  left: 7em;
  top: -1.8em;
}
