<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-comments fa-fw"></i>
        Chat
        <!--
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-chevron-down"></i>
            </button>
            <ul class="dropdown-menu slidedown">
                <li>
                    <a href="#">
                        <i class="fa fa-trash-o fa-fw"></i> Очистить чат
                    </a>
                </li>
            </ul>
        </div>
    -->
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="col-md-9" style="height: 350px;overflow:auto;">
        <ul class="chat" id="chatlog">
            <li class="left clearfix" ng-repeat="message in messages">
                <span class="chat-img pull-left">
                    <img ng-src="https://robohash.org/{{message.nick}}?size=50x50&set=set3" alt="User Avatar" class="img-circle" />
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">{{message.nick}}</strong>
                        <strong ng-if="message.isHearer" class="secondary-font">{{message.ip}}</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i><span>{{message.date}}</span>
                        </small>
                    </div>
                    <p>
                        <span ng-if="message.isHearer">{{message.text}}</span>
                        <span ng-if="!message.isHearer" ng-bind-html="message.text"></span><!-- disable autoescape -->
                    </p>
                    <span ng-if="message.isHearer">
                        <a href="#" ng-click="banUser(message.nick)">B&amp;</a>
                        <a href="#" ng-click="banIP(message.ip)">B&amp; IP</a>
                    </span>
                </div>
            </li>
        </ul>
        </div>
        <div class="col-md-3" style="height: 350px;overflow:auto;">
            <ul>
                <li ng-repeat="user in users track by user">{{user}}</li>
            </ul>
            <p ng-show="bannedUsers.length || bannedIPs.length">Забаненные</p>
            <ul>
              <li ng-repeat="user in bannedUsers track by user">{{user}}
                 <a href="#" ng-click="unbanUser(user)">UB&</a>
              </li>
              <li ng-repeat="ip in bannedIPs track by ip">{{ip}}
                <a href="#" ng-click="unbanIP(ip)">UB&</a>
              </li>
            </ul>
        </div>
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer">
        <form role="form" ng-submit="sendMessage()">
        <div class="input-group">
            <input id="btn-input"
                   type="text"
                   class="form-control input-sm"
                   placeholder="Введите сообщение..."
                   ng-model="message" />
            <span class="input-group-btn">
                <button class="btn btn-warning btn-sm"
                        id="btn-chat">
                    Send
                </button>
            </span>
        </div>
    </form>
    </div>
    <!-- /.panel-footer -->
</div>
