<!DOCTYPE html>
<html ng-app="radioStation" ng-strict-di>

<head>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/static/css/sb-admin-2.css" />
  <script src="/static/js/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/angular.min.js"></script>
  <script src="/static/js/angular-sanitize.min.js"></script>
  <script src="/static/js/reconnecting-websocket.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top"
             role="navigation"
             style="margin-bottom: 0"
             ng-controller="NavBarController">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{title}}</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Выход</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->


            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div><!-- page-wrapper -->
            <!-- block body -->
            <div class="container-fluid">
              <div class="row">
                <div id="container" class="col-md-12">
                    <br>
                    <div class="col-lg-4" id="streamControl">
                      <aircontrol></aircontrol>
                      <!-- <airtimetracker></airtimetracker> -->
                    </div>
                    <div class="col-lg-8">
                      <adminchat></adminchat>
                    </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-lg-6" id="scheduleControl">
                    <adminschedule></adminschedule>
                  </div>

                  <div class="col-lg-6" id="djControl">
                    <icecastusers></icecastusers>
                  </div>
                </div>
              </div>
            </div>
            <!-- endblock -->
        </div>
      </div>

    <!-- block js -->
    <script type="text/javascript" src="/static/js/nglogic.js"></script>
    <script type="text/javascript" src="/config.js"></script>
    <script type="text/javascript" src="/static/js/controllers.js"></script>
    <script type="text/javascript" src="/static/js/directives-admin.js"></script>
    <script type="text/javascript" src="/static/js/twitter-timeline.js"></script>
    <script type="text/javascript" src="/static/js/scrollglue.js"></script>
    <!-- endblock -->
</body>

</html>
