<div class="panel panel-default">
  <div class="panel-heading">
    Диджеи
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <!-- schedule here -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-6">Логин</th>
              <th class="col-md-5">Пароль</th>
              <th class="col-md-1">B&amp;</th>
              <th class="col-md-1"></th>
            </tr>
          </thead>
          <tbody class="row">
            <tr ng-repeat="user in users">
              <td class="col-md-3">{{user.login}}</td>
              <td class="col-md-6">{{user.password}}</td>
              <td class="col-md-2"><i class="fa" ng-class="{'fa-square-o': !user.blocked, 'fa-check-square-o': user.blocked}" ng-click="toggleBan($index, user)"></i></td>
              <td class="col-md-1">
                <i class="fa fa-times" ng-click="removeUser($index)"></i>
                <i class="fa fa-edit" ng-click="loadUser($index, user)"></i>
              </td>
            </tr>
            <tr ng-if="!users.length">
              <td class="col-md-4"></td>
              <td class="col-md-5">Нет диджеев</td>
              <td class="col-md-2"></td>
              <td class="col-md-1"></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group col-md-12">
            <input class="form-control" placeholder="Логин" ng-model="form.login" />
          </div>
          <div class="form-group col-md-12">
            <input class="form-control" placeholder="Пароль" ng-model="form.password" />
          </div>
          <div class="form-group col-md-12">
            <button class="btn btn-default" ng-click="addUser()">Новый</button>
            <button class="btn btn-default" ng-click="saveUser()">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
