<div class="panel panel-default">
    <div class="panel-heading">
        Панель управления вещанием
    </div>
    <div class="panel-body">
        <p class="lead">Статус: <span id="airstate">{{mode}}</span></p>
        <h1>{{airTimeElapsed|toHMS}}</h1>
        <form role="form">
            <div class="form-group">
                <button type="button"
                        id="AIR"
                        class="btn btn-success"
                        ng-click="startStream()">AIR</button>
                <button type="dj"
                        id="DJ"
                        class="btn btn-info"
                        ng-click="startDJStream()">DJ</button>
                <button type="button"
                        id="MPD"
                        class="btn btn-default"
                        ng-click="startMPD()">MPD</button>
            </div>
        </form>
    </div>
</div>
