<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-comments fa-fw"></i>
        Чат
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row col-md-12">
          <span ng-repeat="user in users track by user" style="padding-right: 0.5em;">
            <img ng-src="https://robohash.org/{{user}}?size=25x25&set=set3">{{user}}
          </span>
        </div>
        <div class="row col-md-12" style="height: 350px;overflow:auto;"  scroll-glue>
          <ul class="chat" id="chatlog">
              <li class="left clearfix" ng-repeat="message in messages">
                  <span class="chat-img pull-left">
                      <img ng-src="https://robohash.org/{{message.nick||'Слушатель'}}?size=50x50&set=set3" alt="User Avatar" class="img-circle" />
                  </span>
                  <div class="chat-body clearfix">
                      <div class="header">
                          <strong class="primary-font">{{message.nick||'Слушатель'}}</strong>
                          <small class="pull-right text-muted">
                                <i class="fa fa-clock-o fa-fw"></i><span>{{message.date}}</span>
                          </small>
                      </div>
                      <p>
                          <span ng-if="message.isHearer">{{message.text}}</span>
                          <span ng-if="!message.isHearer" ng-bind-html="message.text"></span><!-- disable autoescape -->
                      </p>
                  </div>
              </li>
          </ul>
        </div>
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer">
        <form role="form" ng-submit="sendMessage()">
          <div class="form-group">
              <textarea id="btn-input"
                     class="form-control input-sm"
                     placeholder="Введите сообщение..."
                     ng-model="chatForm.message"
                     ng-keydown="[13, 32].includes($event.keyCode) && $event.ctrlKey && sendMessage()"
                     rows="3"></textarea>
          </div>
          <div class="form-group" ng-if="chatForm.captchaKey">
              <div class="input-group-addon">
                  <img style="background:#ffffff;" ng-click="loadCaptcha()" ng-src="/captcha/{{chatForm.captchaKey}}.png"/>
              </div>
              <input type="text"
                    class="form-control input-sm"
                    placeholder="Введите капчу"
                    ng-model="chatForm.captcha">
          </div>
          <div class="form-group">
              <span class="input-group-btn">
                  <button class="btn btn-default"
                          id="btn-chat">
                      Отправить
                  </button>
              </span>
              <div><span id="infomessages" class="label label-primary">{{infomessages}}</span>&nbsp;</div>
          </div>
        </form>
    </div>
    <!-- /.panel-footer -->
</div>
