<div class="panel panel-default">
    <div class="panel-heading">
        Плеер
    </div>
    <div class="panel-body">
      <div class="progress">
        <div class="progress-bar progress-bar-striped" ng-class="{'active': started}" role="progressbar" style="width: 100%">
          <span class="sr-only">45% Complete</span>
        </div>
      </div>
      <button class="btn btn-default" ng-click="play()"><i class="fa fa-play"></i></button>
      <button class="btn btn-default" ng-click="stop()"><i class="fa fa-stop"></i></button>
      <i class="fa fa-volume-off"></i>
      <button class="btn btn-default btnvolume" ng-click="mute()"></button>
      <button class="btn btn-default btnvolume" ng-click="setsnd(0.1)"></button>
      <button class="btn btn-default btnvolume" ng-click="setsnd(0.3)"></button>
      <button class="btn btn-default btnvolume" ng-click="setsnd(0.5)"></button>
      <button class="btn btn-default btnvolume" ng-click="setsnd(0.8)"></button>
      <button class="btn btn-default btnvolume" ng-click="setsnd(1)"></button>
      <i class="fa fa-volume-up"></i>
    </div>
</div>
